.main-content-section {
  min-height: 78vh;
}


.header-img{
  max-height: 3rem;
}

.header-logo{
  max-height: 5rem;
}
a.showMore {
  color: #6399BB;
  text-decoration: none;
  font-weight: bold;
}

a.showMore:hover {
  color: #77b6dc;
  text-decoration: none;
}

a{
  color: #373e44
}

a:hover{
  color: #1eb185;
}


@media screen and (max-width: 700px){

  .header-img{
    max-height: 12vh;
  }
  
  .header-logo{
    max-height: 10vh;
  }
}

@media (min-width: 1200px) {
  .container{
      max-width: 80rem;
  }
}